@import './date-picker.css';

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    @apply text-sm text-light bg-primary tracking-wider;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the number input spinner in Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

/* Optional: Style the input to ensure it looks consistent */
input[type='number'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* static fonts */
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Poppins/Poppins-Regular.otf') format('opentype');
}

@font-face {
    font-family: Poppins;
    font-weight: 100;
    src: url('../fonts/Poppins/Poppins-Light.otf') format('opentype');
}

@font-face {
    font-family: Poppins;
    font-weight: 500;
    src: url('../fonts/Poppins/Poppins-Medium.otf') format('opentype');
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/Poppins/Poppins-Italic.otf') format('opentype');
}

@font-face {
    font-family: Poppins;
    font-weight: bold;
    src: url('../fonts/Poppins/Poppins-Bold.otf') format('opentype');
}

@font-face {
    font-family: Poppins;
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/Poppins/Poppins-BoldItalic.otf') format('opentype');
}

@font-face {
    font-family: Poppins;
    font-weight: 900;
    src: url('../fonts/Poppins/Poppins-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family: Tommy;
    src: url('../fonts/Tommy/MADE TOMMY Black.otf') format('opentype');
}

@font-face {
    font-family: 'Tommy';
    font-weight: 700;
    src: url('../fonts/Tommy/MADE TOMMY Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Tommy';
    font-weight: 900;
    src: url('../fonts/Tommy/MADE TOMMY ExtraBold.otf') format('opentype');
}

@font-face {
    font-family: 'Tommy Outline';
    src: url('../fonts/Tommy/MADE TOMMY Black Outline.otf') format('opentype');
}

.bg-grad {
    background-image: linear-gradient(#d0f8ab, #fff);
}

a {
    @apply cursor-pointer;
}

h1 {
    @apply font-bold text-5xl leading-11;
}

h2 {
    @apply font-bold text-4xl my-2 lg:my-4;
}

h3 {
    @apply font-bold text-3xl;
}

h4 {
    @apply font-bold text-lg;
}

h5 {
    @apply font-bold text-base;
}

.main {
    @apply p-10 sm:p-16;
}

.container {
    @apply w-full sm:max-w-7xl sm:mx-auto px-3.5 md:px-6 xl:px-1.5;
}

.page {
    @apply sm:max-w-7xl my-8 sm:my-16 xl:my-32;
}

.section {
    @apply my-10 lg:my-16;
}

* {
    scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* Hides scrollbar in WebKit-based browsers */
}

/* For all browsers */
.no-scrollbar {
    -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
    scrollbar-width: none; /* Hides scrollbar in Firefox */
}

.dashboard-card {
    @apply border p-3 md:p-6 rounded-lg shadow-sm;
}

input[type='file'] {
    display: none;
}
